$size: 10px;

h1 {
    @if $size > 14px {
        color: blue;
    }
    @else if $size < 14px {
        color: red;
    }
    @else {
        color: green;
    }
}

$page-width: 1000px;

@for $col from 1 through 4 {
    .col#{$col} {
        width: $page-width/$col;
    }
}

@each $item in first, second, third, fourth {
    .#{$item} {
        background-image: url(/images/#{$item}.jpg);
    }
}

$i: 1;

@while $i < 5 {
    h1#{$i} {
        font-size: $i*4px;
        $i: $i+1;
    }
}
