<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="jQuery" version="2.1.4" targetFramework="net45" />
  <package id="jQuery.Templates" version="0.1" targetFramework="net45" />
  <package id="jQuery.UI.Combined" version="1.11.4" targetFramework="net45" />
  <package id="Jquery.UI.Theme.uidarkness" version="1.8.23" targetFramework="net45" />
  <package id="jQuery.UI.Themes.Cupertino" version="1.11.1" targetFramework="net45" />
  <package id="jQuery.UI.Themes.south-street" version="1.8.23.3" targetFramework="net45" />
  <package id="jQuery.UI.Themes.UI-Lightness" version="1.11.1" targetFramework="net45" />
</packages>